import BaseLayout from '@layouts/base-layout.astro'


<BaseLayout title="About" description="About - Programs Fall Apart">
    <main>
        <section class="flex flex-col items-center justify-center">
            <h1>About</h1>
            <p>This is the about page.</p>
        </section>
    </main>
</BaseLayout>