---
import ContentRender from '@components/content-render.astro'
import ProgressToc from '@components/progress-toc.astro'
import SiteHeader from '@components/site-header.astro'
import type { PostModel } from '@interfaces/post-model'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'
import { render } from 'astro:content'

interface Props {
  post: PostModel
}

export async function getStaticPaths() {
  const posts = await getAllPosts()
  return posts.map((post) => ({
    params: { slug: post.data.abbrlink },
    props: { post },
  }))
}

const { post } = Astro.props
const { headings: rawHeadings } = await render(post)
const headings = rawHeadings.filter((h) => h.slug !== 'footnote-label')
---

<BaseLayout title={post.data.title} description={post.data.description ?? ''}>
  <main id="main-content" class="tufte">
    <SiteHeader />
    <section class="my-10">
      <ProgressToc headings={headings} />
      <ContentRender post={post} from="post" />
    </section>
    </main>
</BaseLayout>


