---
const siteUrl = Astro.site?.origin ?? ''
---

<section
  class="giscus mx-auto mt-10 w-full"
  style="min-height: 300px;"
  aria-label="Comments"
  data-dark-theme={`${siteUrl}/giscus-dark.css`}
  data-light-theme={`${siteUrl}/giscus-light.css`}
></section>

<script>
  import "../scripts/giscus-comments";
</script>
