---
import ThemeButton from '@components/theme-button.astro'
import { navLinks } from '@utils/nav-links'

const links = navLinks

const isCurrentPage = (url: string) => {
  const pathname = Astro.url.pathname
  if (url === pathname) return true
  if (pathname.includes(url) && url !== '/') return true
  return false
}
---

<header class="sticky top-0 z-10 bg-primary-white bg-opacity-95 text-gray-500 dark:bg-primary-dark dark:bg-opacity-95">
  <nav class="flex h-[90px] items-center justify-center">
    <ul class="nav-links flex items-center gap-10">
      {
        links.map((link) => (
            <li class:list={[{ 'text-primary': isCurrentPage(link.url) }]}>
              <a href={link.url}>{link.title}</a>
            </li>
        ))
      }
      <li>
        <ThemeButton />
      </li>
    </ul>
  </nav>
</header>

