---
import type { PostModel } from '@interfaces/models'
import { formatedYMD, isoDate } from '@utils/date-helper'
import { getPostLink } from '@utils/post-link'

interface Props {
  posts: PostModel[]
}

const { posts } = Astro.props
---

<div class="flex flex-col">
  {
    posts.map((post) => (
      <div class="post-row flex items-baseline gap-x-8" data-post-row>
        <time class="date-mono" datetime={isoDate(post.data.date)}>{formatedYMD(post.data.date)}</time>
        <a href={getPostLink(post)} class="flex-1 truncate">
          {post.data.title}
        </a>
      </div>
    ))
  }
</div>
