<footer class="site-footer">
  <hr class="separator" />
  <p class="footer-text">
    Of all the things you could have been reading tonight, you're here. You and
    I were nowhere near each other, and then one click, and here we are.<br />
    Tonight, somehow, your eyes are on my words and neither of us knows the other's
    name (well, you can know <a href="/about" class="footer-link">mine</a>).<br
    />What a strange and beautiful thing.
  </p>
</footer>

<style>
  .site-footer {
    width: 60%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 2rem 0 3rem;
    text-align: center;
  }

  .footer-text {
    font-family: "Cormorant Garamond";
    font-style: italic;
    width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;
    color: var(--color-muted);
    line-height: 1.8;
  }

  .footer-link {
    font-style: normal;
    color: var(--color-muted);
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  @media screen and (max-width: 1000px) {
    .site-footer {
      width: 85%;
    }
  }

  @media screen and (max-width: 768px) {
    .site-footer {
      width: 90%;
    }
  }
</style>
