---
import BaseHead from '@components/html-head.astro'
import ScrollButton from '@components/scroll-button.astro'
import SiteFooter from '@components/site-footer.astro'

const { title, description } = Astro.props.frontmatter || Astro.props
---

<html lang="en">
  <BaseHead title={title} description={description} />
  <body class="bg-primary-white text-primary-dark dark:bg-primary-dark dark:text-[#e4e4e7]">
    <a href="#main-content" class="skip-link">Skip to content</a>
    <slot />
    <SiteFooter />
    <ScrollButton />
  </body>
</html>
